{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Dogstagram</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'dogstagram_app/css/style.css'%}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
            {% load static %}
                <a href="/"><img src="{% static "dogstagram_app/images/logo.jpg" %}" class="logo"></a>
                <a href="/"><img src="{% static "dogstagram_app/images/dogstagram.png" %}" class="fontlogo"></a>
                    <ul class="navbar-nav ml-auto">
                        <div class="searchbox">
                            <div class="row">
                                <form class="form-inline">
                                    <div class="form-inline my-2 my-lg-0">
                                        <div class="input-group">
                                            <input class="form-control border-secondary py-2" type="search" value="search">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </ul>

            <a href="/profilepage/{{user.id}}">
                <img src="{% static 'dogstagram_app/images/placeholder.png' %}" class="placeholder">
            </a>
        </nav>
        
        <div class="container">
            <div class="mx-auto" style="width: 700px;">
                    <img src="{% static "dogstagram_app/images/emmi_pic_1.jpg" %}" class="photo_feed">      
                    <img src="{% static "dogstagram_app/images/emmi_pic_2.jpg" %}" class="photo_feed">
                    <img src="{% static "dogstagram_app/images/emmi_pic_3.jpg" %}" class="photo_feed">
                    <img src="{% static "dogstagram_app/images/emmi_pic_4.jpg" %}" class="photo_feed">
                    <img src="{% static "dogstagram_app/images/emmi_pic_5.jpg" %}" class="photo_feed">
                    <img src="{% static "dogstagram_app/images/emmi_pic_6.jpg" %}" class="photo_feed">             
            </div>
            <div class="comment_box">
                <p>Comments:</p>
                {%for i in all_comments reversed%}
                <h6 class="comment_username">@{{i.comment_uploader.username}}</h6><p>{{i.comment}}</p>
                {%endfor%}
                <form action="/comment" method="POST"><input type="text" name="comment">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-outline-light"></button>
                </form>
            </div>   
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
